<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script src="scripts/app.js"></script>
</head>
<body>
    {{>header}}
     <div class="main-content">
            <h1>{{title}}</h1>

        </div>
      {{>footer}}
    
</body>
</html>