<nav>
    <div class="menu">
        <div class="logo">
            <div>
                <img src="https://img.icons8.com/color/48/000000/snow.png"/>
                <span>Weather App</span>
            </div>
          
        </div>
        <div class="btns">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
        </div>
    </div>
</nav>